In [1]:
#DATOS
salarios={
    "Nombre":["Ringo","John","Paul","Geroge","Yoko"],
    "Edad":[45,34,42,38,47],
    "Salario":[12000,14000,13000,11000,10000],
    "Genero":["M","M","M","M","F"]
}

In [2]:
import pandas as pd

In [10]:
df=pd.DataFrame(salarios).set_index("Nombre")
print(df.head())

        Edad  Salario Genero
Nombre
Ringo     45    12000      M
John      34    14000      M
Paul      42    13000      M
Geroge    38    11000      M
Yoko      47    10000      F

In [12]:
df["Salario"].describe()

count        5.00000
mean     12000.00000
std       1581.13883
min      10000.00000
25%      11000.00000
50%      12000.00000
75%      13000.00000
max      14000.00000
Name: Salario, dtype: float64

In [13]:
min(df["Salario"])

10000

In [14]:
max(df["Salario"])

14000

In [16]:
rango = max(df["Salario"]) - min(df["Salario"])
print(rango)

4000